Options -MultiViews
RewriteEngine On

# Kalau file/folder fisik ada, langsung load
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Ubah /something jadi router.php?page=something
RewriteRule ^([^/]+)/?$ router.php?page=$1 [L,QSA]
